{% extends "base.html" %}

{% block content %}

<h1>Members</h1>
<a href="/members/add" style="color:antiquewhite"><img src="/static/images/Gym Class.jpg" style="width:400px"></a>
<p></p>
<a href="/members/add" style="color:antiquewhite">Add New Member</a>


<section>
    {% for member in members %}
        <div class="members">
            <a href="/members/{{member.id}}/view" style="color:antiquewhite">{{member.name}}</a>
            {% if member.premium == True %}
                <h3 style="color:greenyellow; font-family:'Courier New', Courier, monospace">Premium Membership</h3>
            {% else %}
            <h3 style="font-family:'Courier New', Courier, monospace">Standard Membership</h3>
            {% endif %}
            {% if member.active == False %}
                <h3 style="color: red">Account inactive</h3>            
            {% else %}
                <a href="/members/{{member.id}}/book" style="color:antiquewhite">Book a Class</a>
            {% endif %}
            <p></p>
        </div>
    {% endfor %}

</section>
<p></p>
<p></p>

{% endblock %}