{% extends "base.html" %}

{% block content %}


<section style="justify-content:space-around">
    <div style="background:none">
        <h1 style="font-size:200%">{{member.name}}</h1>
        {% if member.premium == True %}
            <h3 style="color:greenyellow; font-family:'Courier New', Courier, monospace; font-size:200%">Premium Membership</h3>     
        {% else %}
            <h3 style="font-family:'Courier New', Courier, monospace; font-size:200%">Standard Membership</h3>
        {% endif %}
        {% if member.active == False %}
            <h3 style="color: red; font-size:200%"">Account inactive</h3>            
        {% else %}
            <h3 style="font-size:200%">Account Active</h3>
            <a href="/members/{{member.id}}/book" style="color:antiquewhite; font-size:200%">Book a Class</a>
        {% endif %}
        <p></p>
        <a href="/members/{{member.id}}/edit" style="color:antiquewhite; font-size:200%">Update Details</a>
        <p></p>
        <img src="/static/images/shutterstock_602457053.jpg" alt="equipment" width="500px">

    </div>
    <div style="background:none; width: 500px; height:700px; overflow-x:hidden; overflow-y:auto">
            <h1>Current Bookings</h1>
            {% for g_class in g_classes %}
            <h1>----------</h1>
            <div>              
                <a href="/classes/{{g_class.id}}/view" style="color:antiquewhite">{{g_class.name}}</a>
                <h3>{{g_class.date}}</h3>
                <h3>{{g_class.time}}</h3>
                <h3>{{g_class.duration}}</h3>
                <h3>Spaces: {{g_class.capacity - g_class.members|length}}/{{g_class.capacity}}</h3>
                <!-- <form action="/classes/{{g_class.id}}/{{member.id}}/remove" method="post">
                    <button tpye="submit" style="font-size:120%; background-color:bisque">Cancel Booking</button>
                </form> -->
            </div>
            <h1>    </h1>
            <h1>----------</h1>
            {% endfor %}
        <p></p>        
   </div>
</section>
<p></p>
<p></p>
<a href = "/members/index" style="color:antiquewhite">Back to All Members</a>

{% endblock %}