{% extends "base.html" %}

{% block content %}

<h1>Add a New Class</h1>
<section>
<div></div>
<div>
    <form action="/classes/index" method="post" style="text-align:left">
            <select id="class" name="class" style="font-size:200%; background-color:bisque">
                {% for class in classes %}
                    <option value="{{class}}">{{class}}</option>
                {% endfor %}
            </select>
            <p></p>
            <label for="date"style="font-size:200%">Date</label>
            <input type="date" id="date" name="date" min="2023-05-01" max="2024-05-01" style="font-size:200%; background-color:bisque">
            <p></p>
            <label for="time" style="font-size:200%">Time</label>
            <select id="time" name="time" style="font-size:200%; background-color:bisque">
                {% for time in times %}
                    <option value="{{time}}">{{time}}</option>
                {% endfor %}
            </select>
            <p></p>
            <label for="duration"style="font-size:200%">Duration</label>
            <select id="duration" name="duration" style="font-size:200%; background-color:bisque">
                {% for duration in durations %}
                    <option value="{{duration}}">{{duration}}</option>
                {% endfor %}
            </select>
            <p></p>
            <label for="capacity"style="font-size:200%">Capacity</label>
            <select id="capacity" name="capacity" style="font-size:200%; background-color:bisque">
                {% for capacity in capacities %}
                    <option value="{{capacity}}">{{capacity}}</option>
                {% endfor %}
            </select>
            <p></p>
            <button type="submit" style="font-size:200%; background-color:bisque">Create New Class</button>
    </form>
</div>
<div></div>
</section>

{% endblock %}