{% extends "base.html" %}

{% block content %}

<h1 style="font-size:300%">{{g_class.name}}</h1>

<section>
    <div>
        <h2>Date: {{g_class.date}}</h2>
        <h2>Time: {{g_class.time}}</h2>
        <h2>Duration: {{g_class.duration}}</h2>
        <h2>Capacity: {{g_class.capacity}}</h2>
        <h2>Participants: </h2>
        {% for member in g_class.members %}
            <a href="/members/{{member.id}}/view" style="color:antiquewhite">{{member.name}}</a>
        {% endfor %}
        <p></p>
        {% if g_class.active == True %}
            <h1>Status: Active</h1>
        {% endif %}
        {% if g_class.active == False %}
            <h1 style="color:red">Status: Inactive</h1>
        {% endif %}
        <p></p>
        <img src="/static/images/shutterstock_602457053.jpg" alt="equipment" width="500px">

    </div>
<div style="text-align:left">
    <form action="/classes/{{g_class.id}}" method="post">
        <select id="class" name="class" style="font-size:200%; background-color:bisque">
            {% for class in classes %}
                <option value="{{class}}">{{class}}</option>
            {% endfor %}
        </select>
        <p></p>
        <label for="date" style="font-size:200%">Date</label>
        <input type="date" id="date" name="date" min="2023-05-01" max="2024-05-01" style="font-size:200%; background-color:bisque">
        <p></p>
        <label for="time" style="font-size:200%">Time</label>
        <select id="time" name="time" style="font-size:200%; background-color:bisque">
            {% for time in times %}
                <option value="{{time}}">{{time}}</option>
            {% endfor %}
        </select>
        <p></p>
        <label for="duration" style="font-size:200%">Duration</label>
        <select id="duration" name="duration" style="font-size:200%; background-color:bisque">
            {% for duration in durations %}
                <option value="{{duration}}">{{duration}}</option>
            {% endfor %}
        </select>
        <p></p>
        <label for="capacity" style="font-size:200%">Capacity</label>
        <select id="capacity" name="capacity" style="font-size:200%; background-color:bisque">
            {% for capacity in capacities %}
                <option value="{{capacity}}">{{capacity}}</option>
            {% endfor %}
        </select>
        <p></p>
        <label for="status" style="font-size:200%">Class Status</label>
        <select id="status" name="status" style="font-size:200%; background-color:bisque">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
        </select>
        <p></p>
        <button type="submit" style="font-size:200%; background-color:bisque">Update Class</button>
    </form>
<p></p>
<form action="/classes/{{g_class.id}}/delete" method="post">
            
    <label for="delete" style="font-size:200%">Delete Class?</label>
    <input type="checkbox" name="delete" value="delete" style="font-size:200%; background-color:bisque">
    <p></p>
    <button type="submit" style="font-size:200%; background-color:bisque">Confirm Delete Class</button>
</form>
</div>
<div></div>

</section>
<p></p>
<p></p>
<a href = "/classes/index" style="color:antiquewhite">Back to All Classes</a>

{% endblock %}