{% extends "base.html" %}

{% block content %}


<section style="justify-content:space-around">
    <div>
        <h1>{{g_class.name}}</h1>
        <h2>Date: {{g_class.date}}</h2>
        <h2>Time: {{g_class.time}}</h2>
        <h2>Duration: {{g_class.duration}}</h2>
        <h2>Capacity: {{g_class.capacity}}</h2>
        <p></p>
        {% if g_class.active == True %}
            <h1>Status: Active</h1>
        {% endif %}
        {% if g_class.active == False %}
            <h1 style="color:red">Status: Inactive</h1>
        {% endif %}
            <a href="/classes/{{g_class.id}}/edit" style="color:antiquewhite">Update Details</a>
    </div>
    <div style="width: 600px; height:600px; overflow-x:hidden; overflow-y:auto">
        <h2>Participants: </h2>
        {% for member in g_class.members %}
        <h1>-----------</h1>
        <div class="members">
            <a href="/members/{{member.id}}/view" style="color:rgb(235, 173, 92); font-size:200%">{{member.name}}</a>
            {% if member.premium == True %}
                <h3 style="color:greenyellow; font-family:'Courier New', Courier, monospace">Premium Membership</h3>
            {% else %}
            <h3 style="font-family:'Courier New', Courier, monospace">Standard Membership</h3>
            {% endif %}
            {% if member.active == False %}
                <h3 style="color: red">Account inactive</h3>            
            {% else %}
                <a href="/members/{{member.id}}/book" style="color:antiquewhite">Book a Class</a>
            {% endif %}
            <p></p>
        </div>
        {% endfor %}
        
    </div>

</section>
<p></p>
<p></p>
<a href = "/classes/index" style="color:antiquewhite">Back to All Classes</a>

{% endblock %}