{% extends "base.html" %}

{% block content %}

<h1>{{g_class.name}}</h1>

<section>
    <div>
        <h2>Date: {{g_class.date}}</h2>
        <h2>Time: {{g_class.time}}</h2>
        <h2>Duration: {{g_class.duration}}</h2>
        <h2>Capacity: {{g_class.capacity}}</h2>
        <h2>Participants: </h2>
        {% for member in g_class.members %}
            <a href="/members/{{member.id}}/view">{{member.name}}</a>
        {% endfor %}
        <p></p>
        {% if g_class.active == True %}
        <h1 style="color:goldenrod">Status: Active</h1>
    {% endif %}
    {% if g_class.active == False %}
        <h1 style="color:red">Status: Inactive</h1>
    {% endif %}
        <a href="/classes/{{g_class.id}}/edit">Update Details</a>
    </div>
<div>

</div>
</section>
<p></p>
<p></p>
<a href = "/classes/index">Back to All Classes</a>

{% endblock %}