body{
    text-align: center;   
}



h1{
    text-align: center;
}

section{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 100px

}

ul{
    display: flex;
    justify-content: space-around;
}

a{
    font-size: x-large;
}

nav{
    background-color: aquamarine;
    margin: 30px;
}