body{
    text-align: center; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(47,155,228,1) 100%);
    color:white;
    font-weight: 400;
    margin:none;
    border:none;
}



h1{
    text-align: center;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin: 100px;
    column-gap: 10px;
    row-gap: 70px;
    
}

ul{
    display: flex;
    justify-content: space-around;
}

a{
    font-size: x-large;
}



div{
    background-image: url('/static/images/Moody\ Background 2.jpg');
    background-size:cover;
}

form{
    background: rgb(187,180,244);
    background: linear-gradient(253deg, rgba(187,180,244,0.14471726190476186) 0%, rgba(218,198,246,0.15312062324929976) 72%);
}

li{
    list-style: none;
}