<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
        <title>BUFFER IMAGE</title>
    </head>
    <body style="background-image: url('/static/images/Moody Background 2.jpg'); background-size:contain">
    <nav>
        <h1><a href="/" style="color:antiquewhite; font-size:400%">-BUFFER-IMAGE-</a></h1>
            <ul>
                <li><a href="/members/index" style="color:antiquewhite; font-size: 300%">Members</a></li>
                <li><a href="/classes/index" style="color:antiquewhite; font-size: 300%">Classes</a></li>
            </ul>
    </nav>
        {% block content %}{% endblock %}
    </body>
    <footer>
        <h3>&#169;Ewan Laing Productions Incorporated</h3>
    </footer>
</html>